# Day 2: Cube Conundrum

## Part 1

> <p>You're launched high into the atmosphere! The apex of your trajectory just barely reaches the surface of a large island floating in the sky. You gently land in a fluffy pile of leaves. It's quite cold, but you don't see much snow. An Elf runs over to greet you.</p>
> <p>The Elf explains that you've arrived at <em>Snow Island</em> and apologizes for the lack of snow. He'll be happy to explain the situation, but it's a bit of a walk, so you have some time. They don't get many visitors up here; <span title="No, the Elf's name is not 'WOPR'. It's Joshua.">would you like to play a game</span> in the meantime?</p>
> <p>As you walk, the Elf shows you a small bag and some cubes which are either red, green, or blue. Each time you play this game, he will hide a secret number of cubes of each color in the bag, and your goal is to figure out information about the number of cubes.</p>
> <p>To get information, once a bag has been loaded with cubes, the Elf will reach into the bag, grab a handful of random cubes, show them to you, and then put them back in the bag. He'll do this a few times per game.</p>
> <p>You play several games and record the information from each game (your puzzle input). Each game is listed with its ID number (like the <code>11</code> in <code>Game 11: ...</code>) followed by a semicolon-separated list of subsets of cubes that were revealed from the bag (like <code>3 red, 5 green, 4 blue</code>).</p>
> <p>For example, the record of a few games might look like this:</p>
> <pre><code>Game 1: 3 blue, 4 red; 1 red, 2 green, 6 blue; 2 green
> Game 2: 1 blue, 2 green; 3 green, 4 blue, 1 red; 1 green, 1 blue
> Game 3: 8 green, 6 blue, 20 red; 5 blue, 4 red, 13 green; 5 green, 1 red
> Game 4: 1 green, 3 red, 6 blue; 3 green, 6 red; 3 green, 15 blue, 14 red
> Game 5: 6 red, 1 blue, 3 green; 2 blue, 1 red, 2 green
> </code></pre>

In [ ]:
import re

import pandas as pd

from advent23 import get_chk, get_inp
from advent23.abdul import color_outcome, compare_color_set, get_min_possible

chk = get_chk()
inp = get_inp(2)

#### Part 1

Game 1: 3 blue, 4 red; 1 red, 2 green, 6 blue; 2 green <...view truncated>
Game 2: 1 blue, 2 green; 3 green, 4 blue, 1 red; 1 green, 1 blue <...>
Game 3: 8 green, 6 blue, 20 red; 5 blue, 4 red, 13 green; 5 green, 1 <...>
Game 4: 1 green, 3 red, 6 blue; 3 green, 6 red; 3 green, 15 blue, 14 <...>
Game 5: 6 red, 1 blue, 3 green; 2 blue, 1 red, 2 green <...>

#### Part 2

<same as part 1>

> <p>In game 1, three sets of cubes are revealed from the bag (and then put back again). The first set is 3 blue cubes and 4 red cubes; the second set is 1 red cube, 2 green cubes, and 6 blue cubes; the third set is only 2 green cubes.</p>
> <p>The Elf would first like to know which games would have been possible if the bag contained <em>only 12 red cubes, 13 green cubes, and 14 blue cubes</em>?

In [ ]:
chk["possible"] = [1, 2, 5]

inp["a"]

#### Possible

[1, 2, 5]

'Game 1: 3 blue, 4 red; 1 red, 2 green, 6 blue; 2 green\nGame 2: 1 blue, 2 green; 3 green, 4 blue, 1 red; 1 green, 1 blue\nGame 3: 8 green, 6 blue, 20 red; 5 blue, 4 red, 13 green; 5 green, 1 red\nGame 4: 1 green, 3 red, 6 blue; 3 green, 6 red; 3 green, 15 blue, 14 red\nGame 5: 6 red, 1 blue, 3 green; 2 blue, 1 red, 2 green\n'

> <p>In the example above, games 1, 2, and 5 would have been <em>possible</em> if the bag had been loaded with that configuration. However, game 3 would have been <em>impossible</em> because at one point the Elf showed you 20 red cubes at once; similarly, game 4 would also have been <em>impossible</em> because the Elf showed you 15 blue cubes at once.

In [ ]:
chk["a"] = 8

#### Part 1

8

> If you add up the IDs of the games that would have been possible, you get <code><em>8</em></code>.</p>
>
> <p>Determine which games would have been possible if the bag had been loaded with only 12 red cubes, 13 green cubes, and 14 blue cubes. <em>What is the sum of the IDs of those games?</em></p>
> </article>

# Part 1 Solution:

Important delimiters include:

- semicolon (;) to separate outcome of a game and...
- colon (:) to separate game ID's.

Identify game ID using colon and separate game outcome using semicolon.

Input solutions to examples.toml if correct to run tests.

# Test example input

In [ ]:
# sourcery skip: avoid-builtin-shadow, for-append-to-extend, list-comprehension

# Get input
full_input = get_inp(day="02", user="abdul")["a"].splitlines()
example_input = get_inp(2)["a"].splitlines()

#### Part 1

Game 1: 1 green, 2 blue; 15 blue, 12 red, 2 green; 4 red, 6 blue; 10 <...view truncated>
Game 2: 5 green, 2 red, 18 blue; 18 blue, 6 red, 9 green; 6 blue, 3  <...>
Game 3: 16 red, 10 green; 12 red, 6 blue, 9 green; 10 green, 5 blue; <...>
Game 4: 9 blue, 20 green; 1 red, 3 blue, 10 green; 7 blue, 18 green; <...>
Game 5: 3 green, 8 red; 1 blue, 10 red; 6 red, 4 green; 8 red, 1 blu <...>
Game 6: 7 green, 15 red, 11 blue; 2 red, 12 blue; 11 red, 11 green <...>
Game 7: 14 green, 10 blue, 4 red; 3 red, 11 green, 14 blue; 1 red, 2 <...>
Game 8: 1 red, 6 green, 3 blue; 4 green; 4 red, 3 green, 1 blue; 2 r <...>
Game 9: 2 green, 8 red, 3 blue; 2 green, 4 blue, 2 red; 2 green, 5 b <...>
Game 10: 9 green, 1 blue; 2 blue, 12 green, 3 red; 2 red, 3 blue, 1  <...>
Game 11: 5 red, 2 blue, 2 green; 3 blue, 2 green, 8 red; 6 red, 1 gr <...>
Game 12: 8 blue, 7 green; 2 green, 2 red, 7 blue; 4 green, 1 red, 20 <...>
Game 13: 1 blue, 11 green, 13 red; 6 blue, 13 red, 19 green; 5 blue, <...>
Game 14: 12 blue, 1 red, 15 green; 16 green; 1 red, 18 blue, 15 gree <...>
Game 15: 6 blue, 3 green; 1 red, 1 blue, 2 green; 3 green, 4 blue, 7 <...>
... <view truncated> ...

#### Part 2

<same as part 1>

#### Part 1

Game 1: 3 blue, 4 red; 1 red, 2 green, 6 blue; 2 green <...view truncated>
Game 2: 1 blue, 2 green; 3 green, 4 blue, 1 red; 1 green, 1 blue <...>
Game 3: 8 green, 6 blue, 20 red; 5 blue, 4 red, 13 green; 5 green, 1 <...>
Game 4: 1 green, 3 red, 6 blue; 3 green, 6 red; 3 green, 15 blue, 14 <...>
Game 5: 6 red, 1 blue, 3 green; 2 blue, 1 red, 2 green <...>

#### Part 2

<same as part 1>

> Ruff warned us that we are shadowing a Python built-in. It is customary to add a trailing underscore in cases like this, or consider using an alternative variable name.
>
> \- Blake

In [ ]:
input_ = full_input

In [ ]:
# Match up to any digit 1 to 4 digits in length
number_pattern = re.compile(pattern=r"\d{1,4}")

# Instantiate empty list
game_ids: list = []
for game in input_:
    # Obtain game_id
    game_ids.append(re.search(number_pattern, game)[0])  # noqa: PERF401

game_ids

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 '100']

- Create pd.DataFrame() with all game ID's. Columns will be RGB colors.
- Data will include a set of all outcomes for each color for each game.

In [ ]:
red_outcomes = color_outcome(color="red", data_input=input_)
green_outcomes = color_outcome(color="green", data_input=input_)
blue_outcomes = color_outcome(color="blue", data_input=input_)

all_games_df = pd.DataFrame(
    index=game_ids,
    data={"Red": red_outcomes, "Green": green_outcomes, "Blue": blue_outcomes},
)


display(all_games_df)

[{0, 3, 4, 8, 12}, {0, 1, 2, 6}, {16, 0, 12, 5}, {0, 1}, {3, 4, 6, 8, 10}, {2, 11, 15}, {1, 3, 4, 6}, {0, 1, 2, 4, 6}, {8, 2}, {0, 2, 3, 4}, {8, 5, 6}, {0, 1, 2}, {13, 6}, {0, 1}, {0, 1, 7}, {17, 2, 11, 12}, {4, 14, 15}, {0, 1}, {1, 10, 11, 5}, {2, 5, 7, 10, 15}, {0, 1, 2, 3}, {0, 17, 19, 12}, {8, 1, 3, 6}, {8, 9, 6}, {1, 2, 3, 4}, {1, 2, 3, 5, 12}, {2, 6, 7}, {0, 1, 2}, {12, 5, 6}, {2, 3, 9, 10, 11}, {9, 4, 5}, {2, 3, 4}, {3, 6, 7, 15, 20}, {1, 2, 3}, {0, 5, 6}, {0, 1, 6}, {1, 3, 5}, {4, 5, 7, 8, 10}, {0, 1}, {0, 2}, {0, 1}, {3, 6, 7, 10, 11}, {3, 4, 7}, {8, 9, 3}, {3, 12, 15}, {0, 1, 3}, {8, 1, 5, 7}, {0, 2, 5}, {4, 5, 8, 11, 12}, {0, 2, 3, 4}, {8, 1, 4, 5}, {8, 9, 6, 7}, {0, 1}, {8, 9, 2, 1}, {0, 4, 5, 8, 11}, {3, 11, 6}, {16, 3, 13}, {3, 5}, {0, 2, 4}, {16, 12}, {8, 4, 13, 6}, {2, 3, 4, 6, 8}, {0, 1, 3, 4, 5}, {0, 7, 10, 11, 18}, {3, 1, 11}, {3, 5, 8, 9, 11}, {0, 1, 3}, {8, 10, 3}, {1, 2}, {8, 1, 3, 13}, {0, 2, 4, 5}, {0, 1}, {17, 11, 4, 1}, {0, 18, 3, 5}, {1, 2, 3, 4}, {0, 9}, {8, 1, 2}, {0, 1}, {0, 1, 4, 6}, {3, 7, 11, 13, 14}, {9, 2, 5}, {1, 5, 6, 15}, {0, 3, 7, 10, 11}, {2, 3, 4, 6, 8}, {0, 1, 3, 7}, {17, 3, 13, 7}, {16, 9, 10, 11}, {4, 5, 6}, {1, 2, 3, 4, 5}, {10, 19, 13}, {0, 1, 2, 3, 4}, {18, 10, 4, 7}, {19, 13, 14, 15}, {0, 1}, {0, 1}, {0, 2, 3}, {1, 4, 6, 7}, {1, 2}, {9, 11, 13, 14}, {0, 1}]
[{0, 1, 2}, {2, 3, 5, 6, 9}, {8, 9, 10}, {1, 10, 18, 20}, {0, 1, 3, 4}, {0, 11, 7}, {9, 2, 11, 14}, {2, 3, 4, 6, 10}, {2}, {1, 5, 8, 9, 12}, {1, 2}, {2, 4, 5, 7}, {19, 11, 6}, {16, 0, 8, 15}, {2, 3}, {0, 2, 13, 14}, {1, 5, 14}, {1, 2}, {0, 2, 4}, {10, 11, 5, 7}, {0, 13, 6, 14}, {10, 2, 11, 13}, {8, 11, 12, 4}, {0, 1}, {0, 1, 2}, {2, 3, 5, 6, 7}, {0, 2, 4}, {8, 10}, {0, 1, 2, 3}, {2, 5, 8, 12, 13}, {1, 11, 6}, {0, 1, 4}, {1, 13, 15}, {0, 1, 5, 8, 9, 13}, {8, 0, 12, 4}, {17, 5, 13}, {2, 3, 4}, {0, 1, 11, 12}, {1, 3, 5, 7}, {0, 2}, {1, 4, 5, 10, 11}, {1, 2, 3, 4, 6}, {0, 2, 13}, {1, 11, 13, 7}, {9, 3, 5}, {2, 3}, {0, 2, 4, 5, 8}, {13, 4, 5}, {0, 1, 2, 3}, {0, 3, 6, 7, 8}, {2, 3, 5, 7}, {3, 4, 6, 12, 13}, {9, 2, 7}, {11, 3, 13, 6}, {3, 5, 6, 7, 12}, {1, 2}, {10, 11, 5}, {9, 2, 5}, {0, 2, 3}, {4, 5}, {1, 3, 4}, {0, 3, 8, 9, 13}, {0, 1, 2, 3}, {1, 2, 3, 4}, {0, 1, 2, 7}, {4, 10, 11, 12, 14}, {1, 5, 7}, {3, 11, 7}, {0, 1}, {7, 9, 12, 13, 16}, {3, 2, 11, 6}, {0, 1}, {1, 19, 13, 15}, {8, 9, 3, 5}, {0, 1}, {8, 4, 12}, {2, 3, 5}, {8, 2}, {0, 4, 6}, {0, 1, 2}, {0, 2, 5}, {13, 6, 15}, {0, 1}, {1, 5, 6, 10, 14, 17}, {0, 1, 4, 6}, {0, 1, 4, 6}, {2, 3, 6, 12, 14}, {1, 3, 9, 7}, {0, 10, 3, 12}, {1, 3, 4}, {0, 1, 2, 6, 7}, {0, 2, 6}, {2, 3, 4, 5}, {0, 5}, {1, 2, 3, 6, 14}, {4, 6, 16, 17, 19, 20}, {0, 1}, {8, 10, 11, 12, 15}, {1, 2, 3, 7}, {1}]
[{2, 6, 8, 10, 12, 15}, {9, 18, 19, 6}, {0, 8, 5, 6}, {0, 3, 4, 7, 8, 9}, {0, 1}, {0, 11, 12}, {0, 6, 10, 11, 14}, {0, 1, 3}, {3, 4, 5}, {1, 2, 3, 4}, {0, 2, 3}, {8, 20, 13, 7}, {1, 5, 6}, {0, 4, 12, 14, 18}, {1, 4, 6}, {0, 1, 5, 6}, {0, 5}, {8, 9, 12, 5}, {0, 1, 2}, {4, 12, 5}, {9, 18, 5, 7}, {1, 2, 4, 5, 8}, {0, 1}, {8, 1, 6}, {1, 2, 4, 5}, {1, 3, 6, 7, 10, 14}, {8, 0, 2}, {0, 9}, {2, 12, 4, 6}, {0, 1, 3, 4, 9, 12}, {0, 2}, {3, 11, 12, 6}, {0, 1}, {0, 1, 3, 4, 5}, {9, 3, 6}, {1, 9, 6, 7}, {16, 2, 5}, {1, 2, 3, 4, 8}, {9, 3, 5, 6}, {1, 6, 10, 13, 14}, {0, 1}, {1, 2, 4, 6, 7}, {10, 3, 5}, {4, 5}, {0, 9, 11}, {1, 5, 7}, {1, 3, 5, 6, 12}, {3, 5}, {8, 9, 2}, {0, 2, 3}, {11, 9, 10, 3}, {0, 1, 3}, {0, 1}, {0, 3, 4, 6}, {0, 1}, {8, 1, 5}, {2, 12, 7}, {16, 9, 5}, {1, 2, 7}, {1, 2}, {0, 1}, {2, 3, 4, 7}, {2, 3, 6}, {10, 2, 5, 7}, {2, 3}, {3, 10, 11, 7}, {0, 3, 4}, {9, 12}, {0, 9, 7}, {2, 3, 4, 6}, {1, 6, 7}, {3, 4}, {3, 4, 5, 7, 10}, {0, 2, 3, 4}, {3, 10, 19, 7}, {0, 7}, {4, 6}, {9}, {0, 1, 4}, {2, 8, 9, 13, 18}, {8, 5, 12, 13}, {0, 1}, {0, 1, 2}, {0, 1, 2, 4}, {1, 2, 5}, {8, 1, 3, 6}, {0, 1, 3, 4}, {0, 18, 19, 14}, {2, 3, 4, 6}, {1, 6, 7}, {0, 1, 3, 8, 9}, {8, 2, 3, 6}, {0, 1, 13, 7}, {8, 9, 6, 0}, {0, 1, 2, 5, 8, 9}, {0, 2, 3, 7}, {0, 1, 2}, {0, 11, 13, 7}, {9, 2, 5}, {1, 3, 4, 7, 8}]

                  Red                   Green                   Blue
1    {0, 3, 4, 8, 12}               {0, 1, 2}  {2, 6, 8, 10, 12, 15}
2        {0, 1, 2, 6}         {2, 3, 5, 6, 9}         {9, 18, 19, 6}
3      {16, 0, 12, 5}              {8, 9, 10}           {0, 8, 5, 6}
4              {0, 1}         {1, 10, 18, 20}     {0, 3, 4, 7, 8, 9}
5    {3, 4, 6, 8, 10}            {0, 1, 3, 4}                 {0, 1}
..                ...                     ...                    ...
96          {0, 2, 3}  {4, 6, 16, 17, 19, 20}           {0, 2, 3, 7}
97       {1, 4, 6, 7}                  {0, 1}              {0, 1, 2}
98             {1, 2}     {8, 10, 11, 12, 15}         {0, 11, 13, 7}
99    {9, 11, 13, 14}            {1, 2, 3, 7}              {9, 2, 5}
100            {0, 1}                     {1}        {1, 3, 4, 7, 8}

[100 rows x 3 columns]

In [ ]:
# sourcery skip: comprehension-to-generator
all_games_df_filtered = all_games_df.copy()

all_games_df_filtered["Red"] = all_games_df_filtered["Red"].apply(
    lambda x: compare_color_set(color="red", color_set=x)
)

all_games_df_filtered["Green"] = all_games_df_filtered["Green"].apply(
    lambda x: compare_color_set(color="green", color_set=x)
)

all_games_df_filtered["Blue"] = all_games_df_filtered["Blue"].apply(
    lambda x: compare_color_set(color="blue", color_set=x)
)

> Below you take the approach of reassigning the `all_games_df_filtered` dataframe to itself, filtered to truthy values in each of the `Red`, `Green`, and `Blue` columns. When filtering down to only truthy values like this, we could use the `pandas.DataFrame` methods `any` and `all`. Each have an `axis` parameter to which we can supply the argument `"columns"`, which then looks for truthiness in a left-to-right fashion, as you intend to do here. We would choose `all` in this case, we will get `True` only if all values in a row are truthy. These three lines can then be replaced with `all_games_df_filtered = all_games_df_filtered[all_games_df_filtered.all(axis="columns")]`, and the Ruff violation goes away as a side-effect.
>
> If Ruff tried to fix this for us, it would actually break the code, as Ruff will do "unsafe" fixes for us if we explicitly ask it to. Here it doesn't really understand we are inside of a Pandas indexing operation, and its fix doesn't make anything better. But Ruff perking up at this line tells us we are probably doing something strange, and should check Pandas documentation to see if there are some `DataFrame` methods we might be missing.
>
> \- Blake

In [ ]:
# Drop all rows with False condition
all_games_df_filtered = all_games_df_filtered[all_games_df_filtered.Red != False]  # noqa: E712
all_games_df_filtered = all_games_df_filtered[all_games_df_filtered.Green != False]  # noqa: E712
all_games_df_filtered = all_games_df_filtered[all_games_df_filtered.Blue != False]  # noqa: E712

In [ ]:
sum_of_game_ids = sum([int(x) for x in all_games_df_filtered.index.to_list()])
display(sum_of_game_ids, all_games_df_filtered, all_games_df)

2913

                   Red                Green                  Blue
5     {3, 4, 6, 8, 10}         {0, 1, 3, 4}                {0, 1}
8      {0, 1, 2, 4, 6}     {2, 3, 4, 6, 10}             {0, 1, 3}
9               {8, 2}                  {2}             {3, 4, 5}
10        {0, 2, 3, 4}     {1, 5, 8, 9, 12}          {1, 2, 3, 4}
11           {8, 5, 6}               {1, 2}             {0, 2, 3}
15           {0, 1, 7}               {2, 3}             {1, 4, 6}
18              {0, 1}               {1, 2}         {8, 9, 12, 5}
19      {1, 10, 11, 5}            {0, 2, 4}             {0, 1, 2}
23        {8, 1, 3, 6}       {8, 11, 12, 4}                {0, 1}
24           {8, 9, 6}               {0, 1}             {8, 1, 6}
25        {1, 2, 3, 4}            {0, 1, 2}          {1, 2, 4, 5}
26    {1, 2, 3, 5, 12}      {2, 3, 5, 6, 7}  {1, 3, 6, 7, 10, 14}
27           {2, 6, 7}            {0, 2, 4}             {8, 0, 2}
28           {0, 1, 2}              {8, 10}                {0, 9}
29          {12, 5, 6}         {0, 1, 2, 3}         {2, 12, 4, 6}
30   {2, 3, 9, 10, 11}    {2, 5, 8, 12, 13}   {0, 1, 3, 4, 9, 12}
31           {9, 4, 5}           {1, 11, 6}                {0, 2}
32           {2, 3, 4}            {0, 1, 4}        {3, 11, 12, 6}
34           {1, 2, 3}  {0, 1, 5, 8, 9, 13}       {0, 1, 3, 4, 5}
35           {0, 5, 6}        {8, 0, 12, 4}             {9, 3, 6}
38    {4, 5, 7, 8, 10}       {0, 1, 11, 12}       {1, 2, 3, 4, 8}
39              {0, 1}         {1, 3, 5, 7}          {9, 3, 5, 6}
40              {0, 2}               {0, 2}    {1, 6, 10, 13, 14}
41              {0, 1}    {1, 4, 5, 10, 11}                {0, 1}
42   {3, 6, 7, 10, 11}      {1, 2, 3, 4, 6}       {1, 2, 4, 6, 7}
43           {3, 4, 7}           {0, 2, 13}            {10, 3, 5}
44           {8, 9, 3}       {1, 11, 13, 7}                {4, 5}
46           {0, 1, 3}               {2, 3}             {1, 5, 7}
47        {8, 1, 5, 7}      {0, 2, 4, 5, 8}      {1, 3, 5, 6, 12}
48           {0, 2, 5}           {13, 4, 5}                {3, 5}
49   {4, 5, 8, 11, 12}         {0, 1, 2, 3}             {8, 9, 2}
50        {0, 2, 3, 4}      {0, 3, 6, 7, 8}             {0, 2, 3}
51        {8, 1, 4, 5}         {2, 3, 5, 7}        {11, 9, 10, 3}
52        {8, 9, 6, 7}    {3, 4, 6, 12, 13}             {0, 1, 3}
53              {0, 1}            {9, 2, 7}                {0, 1}
54        {8, 9, 2, 1}       {11, 3, 13, 6}          {0, 3, 4, 6}
55    {0, 4, 5, 8, 11}     {3, 5, 6, 7, 12}                {0, 1}
56          {3, 11, 6}               {1, 2}             {8, 1, 5}
59           {0, 2, 4}            {0, 2, 3}             {1, 2, 7}
62     {2, 3, 4, 6, 8}     {0, 3, 8, 9, 13}          {2, 3, 4, 7}
63     {0, 1, 3, 4, 5}         {0, 1, 2, 3}             {2, 3, 6}
65          {3, 1, 11}         {0, 1, 2, 7}                {2, 3}
67           {0, 1, 3}            {1, 5, 7}             {0, 3, 4}
68          {8, 10, 3}           {3, 11, 7}               {9, 12}
69              {1, 2}               {0, 1}             {0, 9, 7}
71        {0, 2, 4, 5}        {3, 2, 11, 6}             {1, 6, 7}
72              {0, 1}               {0, 1}                {3, 4}
76              {0, 9}           {8, 4, 12}                {0, 7}
77           {8, 1, 2}            {2, 3, 5}                {4, 6}
78              {0, 1}               {8, 2}                   {9}
79        {0, 1, 4, 6}            {0, 4, 6}             {0, 1, 4}
81           {9, 2, 5}            {0, 2, 5}        {8, 5, 12, 13}
83   {0, 3, 7, 10, 11}               {0, 1}             {0, 1, 2}
85        {0, 1, 3, 7}         {0, 1, 4, 6}             {1, 2, 5}
89     {1, 2, 3, 4, 5}       {0, 10, 3, 12}          {2, 3, 4, 6}
91     {0, 1, 2, 3, 4}      {0, 1, 2, 6, 7}       {0, 1, 3, 8, 9}
94              {0, 1}               {0, 5}          {8, 9, 6, 0}
97        {1, 4, 6, 7}               {0, 1}             {0, 1, 2}
100             {0, 1}                  {1}       {1, 3, 4, 7, 8}

                  Red                   Green                   Blue
1    {0, 3, 4, 8, 12}               {0, 1, 2}  {2, 6, 8, 10, 12, 15}
2        {0, 1, 2, 6}         {2, 3, 5, 6, 9}         {9, 18, 19, 6}
3      {16, 0, 12, 5}              {8, 9, 10}           {0, 8, 5, 6}
4              {0, 1}         {1, 10, 18, 20}     {0, 3, 4, 7, 8, 9}
5    {3, 4, 6, 8, 10}            {0, 1, 3, 4}                 {0, 1}
..                ...                     ...                    ...
96          {0, 2, 3}  {4, 6, 16, 17, 19, 20}           {0, 2, 3, 7}
97       {1, 4, 6, 7}                  {0, 1}              {0, 1, 2}
98             {1, 2}     {8, 10, 11, 12, 15}         {0, 11, 13, 7}
99    {9, 11, 13, 14}            {1, 2, 3, 7}              {9, 2, 5}
100            {0, 1}                     {1}        {1, 3, 4, 7, 8}

[100 rows x 3 columns]

# Part 2

In [ ]:
all_games_df_max = all_games_df.copy()

all_games_df_max["Red"] = all_games_df_max["Red"].apply(
    lambda x: get_min_possible(color="red", color_set=x)
)

all_games_df_max["Green"] = all_games_df_max["Green"].apply(
    lambda x: get_min_possible(color="green", color_set=x)
)

all_games_df_max["Blue"] = all_games_df_max["Blue"].apply(
    lambda x: get_min_possible(color="blue", color_set=x)
)

display(all_games_df_max)

powers = all_games_df_max["Red"] * all_games_df_max["Green"] * all_games_df_max["Blue"]
powers.sum()

     Red  Green  Blue
1     12      2    15
2      6      9    19
3     16     10     8
4      1     20     9
5     10      4     1
..   ...    ...   ...
96     3     20     7
97     7      1     2
98     2     15    13
99    14      7     9
100    1      1     8

[100 rows x 3 columns]

55593